[mysql]
prompt="\u@\h[\d]> "
auto-rehash
#show-warnings
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
# socket=/tmp/mysql.sock

[mysqld]
character-set-server=utf8mb4
default-character-set=utf8mb4
# socket=/tmp/mysql.sock
# federated = 1
